Package: marco-runtime
Version: 0.1
Architecture: amd64
Maintainer: Michele Scuttari <michele@mscuttari.it>
Depends: libc6, libopenblas-dev (>=0.3.21+ds-4), libsuitesparse-dev (>=1:5.12.0+dfsg-2), libsundials-dev (>=6.4.1+dfsg1-3)
Section: devel
Priority: optional
Homepage: https://marco-compiler.com/
Description: MARCO runtime libraries
